@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* start RESET*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;}
img{
	display: block;
	max-width: 100%;
	height: auto;}
html{
	scroll-behavior: smooth;}
/* end RESET*/

/* VARIABLES */
:root{
	/*fonts*/
	--FONT-FAMILY: "Roboto", sans-serif;
	--FONT-XS: min(0.5rem, 2.5vh);
	--FONT-SMALL: min(0.5rem, 2.5vh);
	--FONT-MEDIUM: clamp(1rem, 3vh, 1.5rem);
	--FONT-LARGE: min(1.5rem, 8vh);
	--FONT-XL: min(1.7rem, 9vh);
	/*colors*/
	--LIGHT-COLOR: whitesmoke;
	--HEADER-BGCOLOR: transparent;
	--HEADER-COLOR: var(--LIGHT-COLOR);
	--MENU_ICON-BGCOLOR: var(--LIGHT-COLOR);
	--NAVIGATION_LIST_COLOR: var(--LIGHT-COLOR);
	/*general*/
	--PADDING-XS: 0.1rem;
	--PADDING-SMALL: 0.3rem;
	--PADDING-MEDIUM: 1rem;
	--BORDER-LIGHT:	2px solid var(--LIGHT-COLOR);
	--MARGIN-SMALL: 3vw;
	--MARGINLEFTMAIN-SMALL: 24vw;
	/*navigation*/
	--HEADER_MENU_BUTTON_SIZE: 34px;
	--HEADER_MENU_BUTTON_SINGLEBAR_HEIGHT: 3px;
	--HEADER_MENU_BUTTON_SINGLEBAR_TRANSLATION_X: -17px;
	--HEADER_MENU_BUTTON_SINGLEBAR_TRANSLATION_Y: 10px;
	--HEADER_MENU_BUTTON_SINGLEBAR_TRANSLATION_Y_NEGATIVE: -10px;}

/* UTILITY CLASSES*/
.nowrap{
	white-space: nowrap;}

/* GENERAL STYLES*/
body::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: no-repeat center url("../Assets/image2.png");
	background-size: cover;
	opacity: .6;

    content: "";
    z-index: -1;}
body{
	position: relative;
	min-height: 100vh;

	font-family: var(--FONT-FAMILY);
	font-size: var(--FONT-SMALL);
	color: var(--LIGHT-COLOR);
	/*gap: 1rem;*/

	backdrop-filter: brightness(70%);
	
	display: flex;
	flex-direction: column;
	}
nav a:any-link{
	color: var(--LIGHT-COLOR);
	text-decoration: none;}
nav :is(a:hover, a:focus){
	text-decoration: underline;
	filter: brightness(150%);}
footer{
	bottom:0; 	position: sticky; text-align: center;}


/* HEADER SETUP*/
header{

	position: sticky;
	top: 4.2vh;
	text-align: center;
}
.header__title-line{
	margin: 0 var(--MARGIN-SMALL) 0 var(--MARGIN-SMALL);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;}
.header__menu-button{
	background-color: transparent;
	border: none;
	width: var(--HEADER_MENU_BUTTON_SIZE);
	height: var(--HEADER_MENU_BUTTON_SIZE);
	/* font: inherit */ 												/* there is no font currently on the button */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;}
.header__menu-icon, .header__menu-icon::before, .header__menu-icon::after {
	background-color: var(--MENU_ICON-BGCOLOR);
	color: var(--HEADER-COLOR);
	width: var(--HEADER_MENU_BUTTON_SIZE);
	height: var(--HEADER_MENU_BUTTON_SINGLEBAR_HEIGHT);
	border-radius: var(--HEADER_MENU_BUTTON_SINGLEBAR_HEIGHT);
	position: absolute;
	transition: all 0.4s;}
.header__menu-icon::before, .header__menu-icon::after {
	content: "";}
.header__menu-icon::before{
	transform: translate(var(--HEADER_MENU_BUTTON_SINGLEBAR_TRANSLATION_X), var(--HEADER_MENU_BUTTON_SINGLEBAR_TRANSLATION_Y_NEGATIVE));	}
.header__menu-icon::after{
	transform: translate(var(--HEADER_MENU_BUTTON_SINGLEBAR_TRANSLATION_X), var(--HEADER_MENU_BUTTON_SINGLEBAR_TRANSLATION_Y));}
:is(header:hover, header:focus-within /*header:focus-visible*/) .header__menu-icon{
	background-color: transparent;
	/*transform: rotate(720deg);*/}
:is(header:hover, header:focus-within /*header:focus-visible*/) .header__menu-icon::before{
	transform: translateX(var(--HEADER_MENU_BUTTON_SINGLEBAR_TRANSLATION_X)) rotate(-45deg);}
:is(header:hover, header:focus-within /*header:focus-visible*/) .header__menu-icon::after{
	transform: translateX(var(--HEADER_MENU_BUTTON_SINGLEBAR_TRANSLATION_X)) rotate(-45deg);}
.header__navigation{
	display: none;
	flex-flow: column nowrap;
	justify-content: flex-start;
	transform-origin: top center;
	animation: shownavigation 0.5s ease-in-out forwards;
	background-color: var(--HEADER-BGCOLOR);}
@keyframes shownavigation{
	0%{
		transform: scaleY(0);
	}
	80%{
		transform: scaleY(1.02);
	}
	100%{
		transform: scaleY(1);
	}}

:is(header:hover, header:focus-within /*header:focus-visible*/) .header__navigation{
	display: flex;}
:is(header:hover, header:focus-within /*header:focus-visible*/) header{
	flex-grow : 1;}

.header__navlist{
	list-style-type: none;
	/*padding-inline-start: var(--PADDING-SMALL);*/
	display: flex;
	flex-flow: column nowrap;}
.header__navlistitem{
	width: 20vw;
	margin-left: 5%;
	padding: var(--PADDING-SMALL) var(--PADDING-XS);
	border-top: 1px solid var(--NAVIGATION_LIST_COLOR);
	font-style: italic;}
.header__navlistitem:nth-child(1){
	width: 18vw;
	margin-left: 4%;
	padding: var(--PADDING-SMALL) var(--PADDING-XS);
	border-top: 1px solid var(--NAVIGATION_LIST_COLOR);
	font-style: normal;}
.header__navlistitem-anchor{
	display: block;
	text-align: left;
	width: 95%;								/* required because animation expands it */
	margin: auto;							/* it centers the block elements */}
/*END of HEADER SETUP*/


main{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	margin-left: var(--MARGINLEFTMAIN-SMALL);

	padding: var(--PADDING-SMALL);}

/*SETUP OF CARDS*/
.card{
	/*scroll-margin-top: 5rem;				/* to be adjusted*/
	/*width: min(70%, 100px);*/
	/*
	border: var(--BORDER-LIGHT);
	border-radius: 10px;
	*/
	width: 57%;

	padding: var(--PADDING-SMALL);
	
	display: flex;
	flex-flow: column;
	align-items: center;}
.card:target{ 
	width: 100%;
	transition: all 0.2s ease-in-out 0s;}
.card:not(:target){
	flex-grow: 1;
	transition: all 0.2s ease-in-out 0s;}
.card:target img{
	border: var(--BORDER-LIGHT); }
.card figure{
	display: flex;
	flex-flow: column-reverse nowrap;}
.card img{
	margin-top: 0.7rem;
	border: var(--BORDER-LIGHT);
	border-radius: 20px;}
/* .card img[alt]{	border-color: red; } */
/* .card img:not([alt]){ border-color: red; } */
.card p::before{
	content: open-quote;
	font-size: var(--FONT-MEDIUM);
	position: absolute;
	top: -0.25em;
	left: -0.5em;}
card p{
	font-weight: 200;
	font-size: var(--FONT-MEDIUM);
	margin-top: 1rem;
	text-align: center;
	position: relative;}
.card p::after{
	content: close-quote;
	font-size: var(--FONT-MEDIUM);
	position: absolute;
	top: -0.25em;
	right: -0.5em;}
.card figcaption{
	font-weight: 100;
	font-size: var(--FONT-SMALL);
	text-align: left;}
.card figcaption::after{
	content: ''; }
.card figcaption::first-letter{
	font-size: var(--FONT-MEDIUM); }
/*END of SETUP OF CARDS*/

/*MEDIA QUERIES*/
@media (prefers-color-scheme: dark){
	:root{  --LIGHT-COLOR: rgb(	230	250	230); }}
/*small screen*/
@media screen and (min-width: 576px){
	main{
		padding: var(--PADDING-MEDIUM);
	}	
	header{ top: 0.7%; }
	.card{ width: min(80%, 400px); }}
/*medium screen*/
@media screen and (min-width: 768px){
	.card{ width: min(65%, 600px); }
	/* .card figure{ flex-flow: column-reverse; } */
	.card p{ margin: 0.1em 0; }
	.card figcaption{ margin: 0.1em 0; }}
/*large screen*/
@media screen and (min-width: 992px){
	header{
		top: 0.7%;
		font-size: var(--FONT-MEDIUM);
	}
	.card{ width: min(70%, 800px); }
	.card p{ font-size: var(--FONT-LARGE); }}
/*xlarge screen*/
@media screen and (min-width: 1200px){
	body{gap: 3rem;}
	header{ font-size: var(--FONT-LARGE); }	
	.card{ width: min(calc(60% - 1rem), 1000px); }
	.card:target{ width: 75%; }}
/*mobile device landscape */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4){
	h1{	font-size: var(--FONT-LARGE); }
	main{
		flex-flow: row nowrap;
		justify-content: space-evenly;
		/* align-items: stretch; */
	}
	.card{ width: min(calc(33% - 0.25rem), 200px); }
	.card p{ font-size: var(--FONT-MEDIUM); }
	.card figcaption{ font-size: var(--FONT-XS); }
	.nowrap{ white-space: normal; }}