@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* begin reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}

html{
	scroll-behavior: smooth;
}

figcaption{
	display: none;
}
/* end reset*/


/* Utility classes*/
.nowrap{
	white-space: nowrap;
}



/* General styles*/
body{
	min-height: 100vh;

	font-family: "Roboto", sans-serif;
	font-size: 0.9rem;
	color: whitesmoke;
	
	/*
	background: no-repeat center url("../Assets/image2.png");
	*/ 
	background-image: radial-gradient(#C1C1FF, #151621); 
	background-size: 100%;

	display: flex;
	flex-direction: column;
}



header, footer{
	position: sticky;
	text-align: center;
}

header{
	top:0;
}

nav{
	padding: 0.5rem;
	display: flex;
	justify-content: space-evenly;
}

nav a, nav a:visited{
	color: whitesmoke;
	text-decoration: none;
}

nav a:hover, nav a:focus{
	text-decoration: underline;
	color: hsla(0, 100%, 100%, 0.55);
}

main{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	padding: 1rem;
}

footer{
	bottom:0;
}

/* project cards*/
.card{
	scroll-margin-top: 5rem;				/* to be adjusted*/
	width: min(100%, 350px);

	border: 2px solid white;
	border-radius: 10px;
	padding: 1rem;

	display: grid;
	grid-template-rows: 2;
	grid-auto-rows: auto;
	grid-template-areas: 
    "card_image" 
    "card_caption";
    gap: 0.5rem;
	place-content: right;
}

.card figure{
	grid-area: card_image;	
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height: auto;
}

.card img{
	border: 1px solid white;
	border-radius: 20px;
}

.card p{
	grid-area: card_caption;
	font-weight: 200;
	font-size: 1rem;
	margin: 1rem;
	text-align: center;
}

.card figcaption{
	font-weight: 200;
	font-size: 1rem;
	margin: 1rem;
	text-align: center;
}

/* small screen */
@media screen and (min-width: 576px){
	main{
		justify-content: center;
		flex-flow: row wrap;
		padding: 1rem;
	}	
	
	.card{
		width: min(100%, 400px);
	}
}

/* medium screen */
@media screen and (min-width: 768px){
	nav{
		display: none;
	}
	
	.card{
		width: min(100%, 325px);
	}

	.card figure{
		flex-flow: column-reverse;
	}

	.card p{
		margin: 0.1em 0;
	}
	.card figcaption{
		margin: 0.1em 0;
	}
}

/* large screen */
@media screen and (min-width: 992px){
	.card{
		width: min(100%, 400px);
	}
}

/* xlarge screen */
@media screen and (min-width: 1200px){
	.card{
		width: min(calc(33% - 1rem), 650px);
	}
}

/* mobile device landscape */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4){
	h1{
		font-size: 1.5rem;
	}

	nav{
		display: none;
	}

	main{
		flex-flow: row nowrap;
		justify-content: space-evenly;
		align-items: stretch;
	}

	.card{
		width: min(calc(33% - 0.25rem), 200px);
	}

	.card p{
		font-size: 1.25rem;
	}

	.card figcaption{
		font-size: 1.25rem;
	}

	.nowrap{
		white-space: normal;
	}

}